.block-container {
    width: 20%;
}

.block {
    border-radius: 4px;
    background-color: #60ccaf;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 13px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}

.block span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.block span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.block:hover span {
    padding-right: 25px;
}

.block:hover span:after {
    opacity: 1;
    right: 0;
}

.workspace {
    background-color: #eee;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px;
    min-height: 200px;
    position: relative;
    width: 80%;
    float: right;
}

.delete-button {
    background-color: #ff6b6b;
    border: 1px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    padding: 5px 10px;
    transition-duration: 0.5s;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
